<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImageFunctionApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E274D0EF1E03FAAF00AE8318</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E274D10B1E03FAB000AE8318</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E274D1161E03FAB000AE8318</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
