<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GestureDemoApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E274D1311E0420B200AE8318</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E274D14D1E0420B300AE8318</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E274D1581E0420B300AE8318</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
